
/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fundo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Oswald", serif;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; /* Evita barras de rolagem durante a animação */
}

/* Animação de Entrada */
@keyframes slideFadeIn {
    from {
        opacity: 0; /* Começa invisível */
        transform: translateY(50px); /* Move para baixo */
    }
    to {
        opacity: 1; /* Torna visível */
        transform: translateY(0); /* Retorna à posição original */
    }
}

.container {
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);

    animation: slideFadeIn 1s ease-out; 
}

.coisas {
    font-size: 20px;
}

header {
    height: 97%;
    width: 97%;
    border-radius: 12px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

header h1 {
    margin-top: 80px;
}

/* Estilo dos botões */
.btn {
    color: white;
    border: none;
    padding: 15px 30px; 
    text-align: center;
    text-decoration: none;
    font-size: 18px; 
    margin-top: 20px; 
    cursor: pointer;
    border-radius: 5px;

    transition: background-color 0.3s ease, transform 0.3s ease; 
}

/* Estilos específicos para cada botão */
.academia button {
    background-color: #000fe0; 
}

.amigos button {
    background-color: #FF9800;
}

.barrinha button {
    background-color: #00aa1c; 
}

/* Efeito hover para todos os botões */
.academia button:hover {
    background-color: #0033a1; 
    transform: scale(1.05); 
}

.amigos button:hover {
    background-color: #FF5722; 
    transform: scale(1.05); 
}

.barrinha button:hover {
    background-color: #008116; 
    transform: scale(1.05); 
}

/* Estilo inicial do conteúdo */
.content {
    opacity: 0; 
    height: 0; 
    overflow: hidden; 
    transition: opacity 0.5s ease, height 0.5s ease; 
    border-radius: 10px;
}

/* Quando a classe 'show' é adicionada, o conteúdo aparece */
.content.show {
    opacity: 1; 
    height: auto; 
}

/* Estilo das imagens */
.fade-image {
    width: 100%; 
    max-width: 300px; 
    filter: grayscale(100%); 
    transition:
        filter 0.5s ease-in-out,
        transform 0.5s ease-in-out;
}

.fade-image:hover {
    filter: grayscale(0%); 
}


.conteudo {
    display: flex;
    justify-content: space-around; 
}

.academia, .amigos, .barrinha {
   gap: 20px;
   max-height: 700px;
   max-width: 300px; 
   color:white ;
   display:flex ;
   flex-direction : column ;
   align-items :center ;
   border-radius :10 px ;
   font-size: 20px;
}

.academia img, .amigos img , .barrinha img{
   border-radius :10 px ;
}
