*{
    margin: 0;
    padding: 0;

}

body{
    background-image: url(../img/Pubg-hd-Wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Oswald", serif;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.container{
    
    width: 880px; 
    height: 700px;
    display: flex;
    justify-content:center;
    
    border-radius: 12px; 
    
}

header{
    backdrop-filter: blur(8px);
    border: 1px solid rgb(46, 45, 45);
    max-width: 770px;
    max-height: 770px;
    border-radius: 12px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
}

.pic-ctn {
    width: 100vw;
    height: 200px;
    
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 90vw;
    height: 300px;
    margin-top: 10vh;
    margin-right: 45px;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }